{% extends "base.html" %}
{% load static %}

{% block css_import %}
	<link rel="stylesheet" type="text/css" href="{% static 'home/styleHome.css' %}">
{% endblock %}

{% block ask_button %}
	<div class="askbtnbar"><a class="askbtn" href="{% url 'ask' %}">Ask a question</a></div>
{% endblock %}

{% block left_column %}
	<h2>Most popular questions</h2>
		{% if all_questions %}
			{% for question in all_questions %}
				<!-- questions by popularity -->
				<div class="questionWithAnswer">
					<p><a href="{% url 'question' question.questionID %}"><span class="questionTitle">{{ question.title }}</span></a></p>
					{% if question.answered == 1 %}
						<div class="answeredIcon"><img src="{% static 'answered.png' %}" alt="answered" style="width:50px; height:50px;"></div>
					{% endif %}
					<div class="question">
						<b>{{ question.body }}</b>
						<div class="categories">Categories: {{ question.categories }}</div>
					</div>

				</div>
			{% endfor %}
		{% else %}
			<h3>No questions yet in the database.</h3>
		{% endif %}
{% endblock %}

{% block right_column %}
	<h3><p>Latest questions</p></h3>
		{% if all_questions_time %}
			{% for question in all_questions_time %}
				<!-- questions by time -->
				<div class="questionWithAnswer">
					<p><a href="{% url 'question' question.questionID %}"><span class="questionTitle">{{ question.title }}</span></a></p>
					{% if question.answered == 1 %}
						<div class="answeredIcon"><img src="{% static 'answered.png' %}" alt="answered" style="width:50px; height:50px;"></div>
					{% endif %}
					<div class="question">
						<b>{{ question.body }}</b>
						<div class="categories">Categories: {{ question.categories }}</div>
					</div>

				</div>
			{% endfor %}
		{% else %}
			<h3>No questions yet in the database.</h3>
		{% endif %}
	</div>
{% endblock %}