{% extends "base.html" %}
{% load static %}

{% block css_import %}
    <link rel="stylesheet" type="text/css" href="{% static 'question/styleQuestion.css' %}">
{% endblock %}

{% block left_column %}
    <h2><p>{{ question.title }}</p></h2>
    <!-- question asked -->
    <div class="questionWithAnswer">
        <p><b>{{ question.body }}</b></p>
        <div class="categories">Categories: {{ question.categories }}</div>
        <div class="user-time">Asked by <span class="user">{{ question.username }}</span> on <span class="time">{{ question.time }}</span></div>
    </div>

    {% if all_answers %}
        {% for answer in all_answers %}
            <div class="answer">
                <div class="votes">
                    <table class="votesTable">
                        <tr>
                            <td>
                                <form action="{% url 'upvote' question.questionID answer.pk  %}" method="post">
                                    {% csrf_token %}
                                    <input type="image" src="{% static 'question/upvote.png' %}" alt="upvote" style="width:50px; height:30px"/>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td><div id="averageVotes1"><b>{{ answer.average_votes }}</b></div></td>
                        </tr>
                        <tr>
                            <td>
                                <form action="{% url 'downvote' question.questionID answer.pk  %}" method="post">
                                    {% csrf_token %}
                                    <input type="image" src="{% static 'question/downvote.png' %}" alt="downvote" style="width:50px; height:30px"/>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="answer">
                    <p>{{ answer.body }}</p>
                </div>
                <div class="user-time">Answered by <span class="user">{{ answer.username }}</span> on <span class="time">{{ answer.time }}</span></div>
            </div>
        {% endfor %}
    {% endif %}

    {% if user.is_authenticated %}
        <!-- Answer the question -->
        <div class="answer">
            <form name="answerQuestion" action="{% url 'answerquestion' question.questionID %}" method="post">
                {% csrf_token %}
                <label>Answer:</label>
                <textarea name="answerBody" class="textarea"></textarea>
                <input type="submit" value="Answer">
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block right_column %}
    <h3><p>Latest questions</p></h3>
    {% if all_questions_time %}
        {% for question in all_questions_time %}
            <!-- questions by time -->
            <div class="questionWithAnswer">
                    <p><a href="{% url 'question' question.questionID %}"><span class="questionTitle">{{ question.title }}</span></a>
						{% if question.is_recent %}
							<img src="{% static 'home/new.png' %}" alt="new" style="width:45px; height:15px;">
						{% endif %}
					</p>                {% if question.answered == 1 %}
                    <div class="answeredIcon"><img src="{% static 'answered.png' %}" alt="answered" style="width:50px; height:50px;"></div>
                {% endif %}
                <div class="question">
                    <b>{{ question.body }}</b>
                    <div class="categories">Categories: {{ question.categories }}</div>
                </div>

            </div>
        {% endfor %}
    {% else %}
        <h3>No questions yet in the database.</h3>
    {% endif %}
{% endblock %}