/* CSS file for style in home.html */

.askbtnbar {
	padding-top: 15px;
}

.askbtn {
    background-color: #8B0000;
    color: white;
    padding: 14px 16px;
    width: 100%;
	text-decoration: none;	
}

.askbtn:link {
	color: white;
}

.askbtn:visited {
	color: white;
}

.askbtn:hover {
	background-color: #8B0000;
}