/* CSS file for style in home.html */

#all {
	max-width: 1000px;
	min-width: 350px;
	margin: auto auto;
	padding: 0;
}

/*============ navigation bar ============*/
ul.navUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navUL li {
    float: left;
}

ul.navUL li.navLI-right {
	float: right;
}

ul.navUL li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #8B0000 (Dark red) on hover */
ul.navUL li a:hover {
    background-color: #8B0000;
}
/*========================================*/

/* search bar */
#searchbox {
    padding: 12.5px;
    background-color: #8B0000;
	text-align: center;
}

/* main body of web page */
#mainContainer {
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
}

/* footer of web page */
#footer {
	position: fixed;
	padding: 10px;
	bottom: 0;
	background-color: #333;
	color: white;
}

#leftColumn {
  display: inline-block;
  width: 61%;
  height: 100%;
  padding: 12px;
  border: 2px solid #333;
}

#rightColumn {
  display: inline-block;
  width: 33%;
  height: 100%;
  padding: 12px;
  border: 2px solid #333;
}

.questionWithAnswer {
	float: right;
	width: 90%;
	padding: 10px;
	background: lightgrey;
	border: 1px solid;
}

.question {
	float: right;
	width: 75%;
	height: 100%;
	padding: 10px;
	background: lightgrey;
	border: 1px solid;
}

.answer {
	float: right;
	width: 70%;
	height: 100%;
	padding: 10px;
	background: lightblue;
	border: 1px dashed;
}

.answeredIcon {
	display: inline-block;
	width: 50px;
	visibility: visible;
}

.votes {
	display: inline-block;
	min-width: 20px;
	height: 100%;
}

#profile {
    display: none;
}

#votesTable {
	text-align: center;
	vertical-align: middle;
}

.user {
	float: right;
}

.askbtnbar {
	padding-top: 15px;
}

.askbtn {
    background-color: #8B0000;
    color: white;
    padding: 14px 16px;
    width: 100%;
	text-decoration: none;	
}

.askbtn:hover {
	background-color: #8B0000;
}

.textarea {
	width: 100%;
	min-height: 100px;
	resize: none;
}

/* LOGIN/REGISTER WINDOW */
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.logRegBtn {
    background-color: #333;
    color: white;
    padding: 14px 16px;
    cursor: pointer;
    width: 100%;
}

.logRegBtn:hover {
    background-color: #8B0000;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #8B0000;
	color: white;
}

.acceptbtn {
	background-color: #006400;
    color: white;
    padding: 14px 16px;
    cursor: pointer;
    width: 100%;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
    padding-top: 20px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 3% auto 20% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid gray;
	max-width: 750px;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover {
    color: red;
    cursor: pointer;
}

@media screen and (max-width: 1020px) {
	#leftColumn {
		width: 97%;
	}
	#rightColumn {
		margin: 3% auto 10% auto;
		width: 97%;
	}
}

@media screen and (max-width: 700px) {
	#leftColumn {
		width: 97%;
	}
	#rightColumn {
		margin: 3% auto 10% auto;
		width: 97%;
	}
	ul.navUL li.navLI-right,
	ul.navUL li {
		float: none;
	}
}