<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ask&Answer</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        {% block css_import %}
            <!-- import css for specific page -->
        {% endblock %}
		<script type="text/javascript" src="{% static 'code.js' %}"></script>
    </head>
    <body>
		<header>
			<a href="/home"><img src="{% static 'logo.png' %}" alt="A&A logo" style="width:360px; height:120px;"></a>
			<div>
				<ul class="navUL">
					<li class="navLI"><a class="navLIA" href="/home">Home</a></li>
					<li class="navLI"><a class="navLIA" href="/home/about">About</a></li>
					<li class="navLI"><a class="navLIA" href="/home/categories">Categories</a></li>
					<li class="navLI">
						<form id="searchbox">
							<input id="search" type="search" placeholder="Search...">
							<input id="submit" type="submit" value="Search">
						</form>
					</li>
					<li class="navLI-right"><button class="navLIA logRegBtn" onclick="document.getElementById('loginwindow').style.display='block'">Log in</button></li>
					<li class="navLI-right"><button class="navLIA logRegBtn" onclick="document.getElementById('registerwindow').style.display='block'">Register</button></li>
				</ul>
			</div>
		</header>

		<!-- LOGIN -->
		<div id="loginwindow" class="modal">
			<form class="modal-content">
				<div class="imgcontainer">
					<span onclick="document.getElementById('loginwindow').style.display='none'" class="close" title="Close Modal">&times;</span>
					<img src="{% static 'loginpic.png' %}" alt="Avatar" class="avatar">
				</div>
				<div class="container">
					<label><b>Username</b></label>
					<input type="text" placeholder="Enter Username" id="usernameLogin" required>

					<label><b>Password</b></label>
					<input type="password" placeholder="Enter Password" id="passwordLogin" required>

					<button type="submit" class="acceptbtn" onclick="loginValidation()">Login</button>

					<input type="checkbox" checked="checked"> Remember me
				</div>
				<div class="container" style="background-color:#f1f1f1">
					<button type="button" onclick="document.getElementById('loginwindow').style.display='none'" class="cancelbtn">Cancel</button>
				</div>
			</form>
		</div>

		<!-- REGISTER -->
		<div id="registerwindow" class="modal">
			<form class="modal-content">
				<div class="imgcontainer">
					<span onclick="document.getElementById('registerwindow').style.display='none'" class="close" title="Close Modal">&times;</span>
					<img src="{% static 'loginpic.png' %}" alt="Avatar" class="avatar">
				</div>
				<div class="container">
					<label><b>Username</b></label>
					<input type="text" placeholder="Enter Username" id="usernameRegister" required>

					<label><b>E-mail</b></label>
					<input type="text" placeholder="Enter E-mail" id="email" required>

					<label><b>Password</b></label>
					<input type="password" placeholder="Enter Password" id="passwordRegister1" required>

					<label><b>Repeat Password</b></label>
					<input type="password" placeholder="Enter Password Again" id="passwordRegister2" required>

					<button type="button" class="acceptbtn" onclick="registrationValidation()">Register</button>
				</div>
				<div class="container" style="background-color:#f1f1f1">
					<button type="button" onclick="document.getElementById('registerwindow').style.display='none'" class="cancelbtn">Cancel</button>
				</div>
			</form>
		</div>

		<!-- main body of website -->
		{% block ask_button %}
            <!-- ask button only on home page -->
        {% endblock %}
		<div id="mainContainer">
			<div id="leftColumn">
				{% block left_column %}
                    <!-- left column content -->
                {% endblock %}
			</div>

			<div id="rightColumn">
				{% block right_column %}
                    <!-- left column content -->
                {% endblock %}
			</div>
		</div>
		<footer>
			Copyright by Erik Rakušček. All rights reserved.
		</footer>
	</body>
</html>